@import './assets/data/colors.scss';

/*Contenedor Principal*/
#contenedor{

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 10fr;

}


/*Dispocicion de elementos en el Contenedor*/
#menu-lateral{
    grid-column: 1/2;
    grid-row: 1/-1;
}

#cabecera-buscar{
    grid-column: 2/3;
    grid-row: 1/2;
    
}

#seccion-principal{
    grid-column: 2/3;
    grid-row: 2/-1;
    
}