@import './assets/data/colors.scss';

/*Importar fuente*/
@font-face {

    font-family: 'Alata';
    src: url('./assets/fonts/alata.ttf') format('truetype');
}

/*Configuracion Comun*/
body{
    background-color: $color-fondo;
    color: $color-titulo;
    font-family: 'Alata';
    margin: 0;   
}


ul{
    margin: 0;
    list-style-type: none;
   
}

a{
    text-decoration: none;
    color: $color-titulo;
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
}